#-----------------------------------------------------------------
# Licensed Materials - Property of IBM
#
# WebSphere Commerce
#
# (C) Copyright IBM Corp. 2010 All Rights Reserved.
#
# US Government Users Restricted Rights - Use, duplication or
# disclosure restricted by GSA ADP Schedule Contract with
# IBM Corp.
#-----------------------------------------------------------------


#---------------------------------------------
#
#	Framework properties - must be defined
#
#---------------------------------------------

#The BASEURI of their server you are testing
BASEURI=http://9.181.143.128
BASEURI_BACKEND=http://9.181.143.128


#k8s -production 9.181.143.127:30500
#k8s - trial 9.181.143.128:80
#Mustang 9.181.135.182 / 9.123.127.120
#Qing cloud dev 119.254.211.46


#The PORT of their server you are testing
#Please do NOT check in change of this field
PORT=80
PORT_BACKEND=8080

#PORT=31239

#The basePath of their server you are testing
BASEPATH=

#Authentication user and password
AUTH_USER=cbt1
AUTH_PW=Test123_

CLIENT_ID=DPCSeXWJVF9Ja4CTM7snMYu6UujIfb7Z
CLIENT_SECRET=E-39_kOXxOlNNmcN6Ku043q7IZA3Mi2_

